* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
header {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}
.Navbar {
  top: 5rem;
  position: fixed;
  width: 100%;
}
nav {
  margin-top: 0;
  padding: auto;
  width: 100%;
  background-color: rgb(103, 241, 229);
}
nav ul {
  width: 50rem;
  margin: auto;
  height: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav li {
  margin: auto;
  color: blue;
  padding: auto;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Roboto", sans-serif;
}
nav li:hover {
  background-color: rgba(93, 162, 194, 0.342);
}
.Main-area {
  margin-top: 7rem;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.Kampanj {
  width: 100%;
  position: relative;
  margin: 0%;
}
.Kampanj img {
  width: 100%;
}
.Kampanj h2 {
  color: white;
  position: absolute;
  font-size: 3rem;
  width: 15ch;
  top: calc(50% - 12rem);
}
.Kampanj-text {
  color: whitesmoke;
  position: absolute;
  font-size: larger;
  top: 50%;
  left: 15%;
  width: 35ch;
}
.Kampanj-text p {
  margin-top: 5%;
  border-radius: 25px;
  background-color: rgb(12, 171, 219);
  padding: 10px;
}
.Kampanj2 {
  background: #ffad33;
  margin: 0px;
  padding: 2%;
  text-align: center;
}
.Kampanj2 a {
  color: whitesmoke;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-color: whitesmoke;
}
.Main-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 7rem;
  width: 100%;
  text-align: center;
}
.Main-text p {
  margin: auto;
  width: 50rem;
}

.Pooler-Text {
  margin-left: 15rem;
  margin-top: 1rem;
  width: auto;
  text-align: left;
}
.Pooler-Text h2 {
  width: 60rem;
  margin: auto;
  padding-bottom: 1rem;
}
.Pooler-Text p {
  margin: auto;
  width: 60rem;
  line-height: 1.5rem;
}
.Pooler-Bilder {
  margin-left: 15rem;
  width: auto;
}
.Pooler-Bilder ul {
  margin-left: 15rem;
  margin: auto;
  width: 60rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Pooler-Bilder img {
  width: 10rem;
}
.Pooler-Bilder li {
  list-style: none;
  margin: 0.5rem;
  width: auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(212, 212, 212);
  padding: 10px;
  text-align: center;
}
.Pooler-Bild {
  margin-left: 40rem;
}
.Pooler-Lista {
  margin-left: 40rem;
}
.Pooler-Lista li {
  margin-top: 0.5rem;
}
.Pooler-Produkter {
  min-width: fit-content;
  margin-top: 5rem;
  margin-left: 30rem;
}
.Pooler-Produkter ul {
  display: flex;
  flex-direction: row;
}
.Pooler-Produkter li {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(212, 212, 212);
  padding: 10px;
  width: 25ch;
  text-decoration: none;
  list-style: none;
  padding: auto;
  margin: 0px;
  margin-left: 1rem;
}
.Pooler-Produkter p {
  font-size: 0.9rem;
}
.Pooler-Produkter img {
  width: 10rem;
}
.Pooler-Produkter h2 {
  text-align: center;
  margin-bottom: 2rem;
}
footer {
  width: 100%;
  margin: 0px;
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: rgba(86, 207, 255, 0.452);
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  list-style: none;
}
.footer_list {
  height: 100%;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.Margin {
  margin-top: 10rem;
}
.Blue h2 {
  color: rgb(0, 153, 255);
}
.Blue a {
  color: rgb(0, 153, 255);
}
